/** BASE THEME **/

/** Typography: font, letter-spacing, line-height, text-*, list-style-type. */

html {
	font-size: var(--font-size);
}

body {
	font-family: var(--font-base);
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.6;
}

main article,
main section {
	padding: 7.5rem 1rem;
	position: relative;
	width: 100%;
}

main section > *,
main article > * {
	max-width: 992px;
	margin-left: auto;
	margin-right: auto;
}

main section .table-container table {
	width: 100%;
}

code {
	font-size: 86%;
}

dl {
	list-style: none;
}

ol {
	list-style: decimal inside;
}

ul {
	list-style: disc inside;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	font-size: 90%;
}

.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
	font-family: inherit;
	font-weight: 700;
	letter-spacing: inherit;
	line-height: 2.5rem;
	text-align: center;
	text-decoration: none;
}

label,
legend {
	font-size: 1.6rem;
	font-weight: 700;
}

label.inline,
legend.inline {
	font-weight: normal;
}

/**
 * Layout: Display, margin, padding, height, and width.
 */

.table-container {
	max-width: 80rem;
}

blockquote,
dl,
figure,
form,
ol,
pre,
table,
ul {
	margin-bottom: 2.5rem;
}

p {
	margin-bottom: 1.25rem;
}

p + ul,
p + ol {
	margin-bottom: 1.25rem;
}
blockquote {
	padding: 1rem 1.5rem;
}

blockquote *:last-child {
	margin-bottom: 0;
}

code {
	margin: 0 0.2rem;
	padding: 0.2rem 0.5rem;
}

pre > code {
	padding: 1rem 1.5rem;
}

hr {
	margin: 3rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.75em;
}

dl,
ol,
ul {
	margin-top: 0;
	padding-left: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	margin: 1.5rem 0 1.5rem 3rem;
}

dd,
dt,
li {
	margin-bottom: 0;
	line-height: 1.5;
}

table {
	border-spacing: 0;
}

td,
th {
	padding: 1.2rem 1.5rem;
}

td:first-child,
th:first-child {
	padding-left: 0;
}

td:last-child,
th:last-child {
	padding-right: 0;
}

input,
select,
fieldset,
textarea {
	margin-bottom: 1.5rem;
}

textarea {
	min-height: 6.5rem;
}

.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
	display: inline-block;
	padding: 0 1rem;
}

[type='email'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='url'],
textarea,
select {
	padding: 0.6rem 1rem;
	width: 100%;
}

[type='checkbox'],
[type='radio'] {
	display: inline;
}

select {
	padding-right: 3rem;
}

label,
legend {
	display: block;
	margin-bottom: 0.5rem;
}

label.inline,
legend.inline {
	display: inline-block;
	margin-left: 0.5rem;
}

fieldset {
	border-width: 0;
	padding: 0;
}

/**
 * Colors, borders, outline, box-shadow, appearance, and opacity.
 */

body {
	color: var(--text);
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:focus,
a:hover {
	color: var(--text-light);
}

blockquote {
	border-left: 0.3rem solid var(--primary-opaque);
}

pre,
code {
	background: #f4f5f6;
}

pre {
	border-left: 0.3rem solid var(--primary-opaque);
}

code {
	border-radius: 0.4rem;
}

pre > code {
	border-radius: 0;
}

hr {
	border: 0;
	--border-width: 2px;
	border-top: var(--border);
}

td,
th {
	border-bottom: var(--border);
}

/**
 * Other form elements.
 */

[type='email'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='url'],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: none;
}

[type='email']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='url']:focus,
textarea:focus,
select:focus {
	border-color: var(--primary);
	box-shadow: var(--focus);
	outline: 0;
}

select {
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI5IDE0IiB3aWR0aD0iMjkiPjxwYXRoIGZpbGw9IiNkMWQxZDEiIGQ9Ik05LjM3NzI3IDMuNjI1bDUuMDgxNTQgNi45MzUyM0wxOS41NDAzNiAzLjYyNSIvPjwvc3ZnPgo=')
		center right no-repeat;
}

select:focus {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyOSAxNCIgd2lkdGg9IjI5Ij48cGF0aCBmaWxsPSIjOWI0ZGNhIiBkPSJNOS4zNzcyNyAzLjYyNWw1LjA4MTU0IDYuOTM1MjNMMTkuNTQwMzYgMy42MjUiLz48L3N2Zz4K');
}

@media (min-width: 40rem) {
}
