/** VARIABLES **/

@custom-media --mob (min-width: 576px);
@custom-media --tab (min-width: 768px);
@custom-media --lap (min-width: 992px);
@custom-media --desk (min-width: 1200px);

/** SPACING **/
:root {
	--sm: 35px;
	--md: 85px;
	--lg: 120px;
}

/** COLORS **/
:root {
}

/** FONTS **/
:root {
	--font_size: 16px;
	--font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font_base: 'Montserrat', 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans',
		'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
}

/** STYLES **/
:root {
	/* Example: Focus box shadow value */
	--focus: 0 0 0 3px var(--primary_trans);
}
