/** SPACING **/
:root {
	--sm: 35px;
	--md: 85px;
	--lg: 120px;
	--xl: 150px;
}

/** COLORS **/
:root {
	--blue: rgb(38, 132, 255);
	--blue-trans: rgba(38, 132, 255, 0.75);
	--black: #121314;
	--gray-dark: rgb(80, 95, 121);
	--gray: rgb(137, 147, 164);
	--gray-light: rgb(250, 251, 252);
	--white: rgb(255, 255, 255);
	--yellow: rgb(255, 196, 0);
	--red: rgb(222, 53, 11);
	--primary: var(--blue);
	--primary-trans: var(--blue-trans);
	--warning: var(--yellow);
	--danger: var(--red);
	--text: var(--black);
	--text-light: var(--gray-dark);
	--bg: var(--gray-light);
}

/** FONTS **/
:root {
	--font-size: 16px;
	--font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-base: 'Montserrat', 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans',
		'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
}

/** STYLES **/
:root {
	/* Example: Focus box shadow value */
	--focus: 0 0 0 3px var(--primary-trans);
	--border: 2px solid var(--primary);
	--border-radius: 2px;
}

/** EASING **/
:root {
	--e: cubic-bezier(0.23, 1, 0.32, 1);
}
