/* body.navigation-grid  {
	display: grid;
	grid-template-columns: 2fr 4fr minmax(80px, 1fr);
}
*/
/*
nav {
	display: flex;
	padding-top: 58px;
	justify-content: unset;
	align-items: unset;
	padding-left: 5vw;
	flex-flow: column;
	position: sticky;
	top: 1rem;
	align-self: start;
	grid-area: 1 / 1 / 2 / 2;
}
footer {
	grid-area: 2 / 1 / 3 / 3;
	text-align: center;
	padding-bottom: 1rem;
}
*/
.navigation {
	grid-column-start: main-start;
	grid-column-end: main-end;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: white;
}
.navigation .menu-title {
	position: relative;
}
.navigation .menu-subtitle {
	text-align: center;
}
.navigation ol {
	margin-bottom: 0;
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	max-width: 40em;
}
.navigation ol > li {
	display: inline;
}
.sidebar a {
	transition: opacity 0.3s ease-out;
}
.sidebar li:not(.active) > a {
	opacity: 0.4;
}
.menu-subtitle {
	margin-bottom: 0.75rem;
}
.navigation .menu-subtitle {
	height: auto;
	max-height: 1000px;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}
.scrolled .menu-subtitle {
	max-height: 0;
}
body > footer {
	text-align: center;
}
form small {
	opacity: 0;
	color: var(--primary);
}
form:focus-within small {
	opacity: 1;
}
