/** BASE THEME **/

/** Typography: font, letter-spacing, line-height, text-*, list-style-type. */

html {
	font-size: var(--font-size);
}
body {
	font-family: var(--font-base);
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.6;
}
body.loads {
	animation: fadeIn ease-out 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
main > article,
main > section {
	padding-right: 1rem;
	padding-left: 1rem;
	position: relative;
	width: 100%;
}
main > section + section {
	padding-top: 2.5rem;
}
main section > *,
main article > *,
.container {
	max-width: 992px;
	margin-left: auto;
	margin-right: auto;
}
main article > hr,
main section > hr,
hr {
	margin-right: 2.5vw;
	margin-left: 2.5vw;
	/* max-width: 33%; */
}
.container {
	display: block;
}
main section .table-container table {
	width: 100%;
}
code {
	font-size: 86%;
}

dl {
	list-style: none;
}

ol {
	list-style: decimal inside;
}

ul {
	list-style: disc inside;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	font-size: 90%;
}
dl > dt,
dl > dd {
	position: relative;
}
dl > dd {
	line-height: 1.25;
	padding-bottom: 0.5em;
}
dl > dt::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1.5em;
	border-bottom: 1px solid var(--primary);
}
dl > dd {
	display: inline-flex;
	align-items: center;
}
dl > dd::before {
	content: '';
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	left: -1ex;
	height: 1em;
	border-left: 1px solid var(--primary);
}
ul > li::marker,
ol > li::marker {
	color: var(--primary);
}
ul > li li::marker,
ol > li li::marker {
	color: inherit;
}
.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
	font-family: inherit;
	font-weight: 700;
	letter-spacing: inherit;
	line-height: 2.5rem;
	text-align: center;
	text-decoration: none;
}
button.link {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: unset;
	line-height: 1;
	text-align: unset;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: transparent;
	color: var(--primary);
	font-weight: inherit;
}
button.link:hover {
	color: var(--black);
	background-color: transparent;
	border-color: transparent;
}
button.link:focus {
	outline: 0;
	box-shadow: var(--focus);
	color: var(--primary);
	background-color: transparent;
}
label,
legend {
	font-size: 1.6rem;
	font-weight: 700;
}
label.inline,
legend.inline {
	font-weight: normal;
}
/**
 * Layout: Display, margin, padding, height, and width.
 */

.table-container {
	max-width: 80rem;
}

blockquote,
dl,
figure,
form,
ol,
pre,
table,
ul {
	margin-bottom: 2.5rem;
}

figure {
	display: block;
}
figcaption {
	padding: 0.75rem;
}
figure.figure-background figcaption {
	background-color: var(--gray-light);
	border-bottom-right-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}
figure.figure-right,
figure.figure-left {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row dense;
}
figure.figure-left img {
	grid-column: 2;
}
figure.figure-right figcaption,
figure.figure-left figcaption {
	border-radius: unset;
	padding-left: 1rem;
}
figure.figure-right figcaption {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

figure.figure-left figcaption {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

p {
	margin-bottom: 1.25rem;
}

p + ul,
p + ol {
	margin-bottom: 1.25rem;
}
blockquote {
	padding: 1rem 1.5rem;
}

blockquote *:last-child {
	margin-bottom: 0;
}

code {
	margin: 0 0.2rem;
	padding: 0.2rem 0.5rem;
}

pre > code {
	padding: 1rem 1.5rem;
}

hr {
	margin: 3rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.75em;
}

dl,
ol,
ul {
	margin-top: 0;
	padding-left: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	margin: 0.5rem 0 0.5rem 1rem;
}

dd,
dt,
li {
	margin-bottom: 0;
	line-height: 1.5;
}

table {
	border-spacing: 0;
	font-variant-numeric: tabular-nums;
}

td,
th {
	padding: 0.75rem 1.25rem;
}

td:first-child,
th:first-child {
	padding-left: 1rem;
}

td:last-child,
th:last-child {
	padding-right: 1rem;
}

input,
select,
fieldset,
textarea {
	margin-bottom: 1.5rem;
}
@media (max-width: 576px) {
	input,
	textarea,
	select:focus {
		font-size: 16px !important;
	}
}
@supports (font-size: max(16px)) {
	input,
	textarea,
	select:focus {
		font-size: max(16px, inherit);
	}
}
textarea {
	min-height: 6.5rem;
}

.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
	display: inline-block;
	padding: 0 1rem;
}

[type='email'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='url'],
textarea,
select {
	padding: 0.6rem 1rem;
	width: 100%;
}

[type='checkbox'],
[type='radio'] {
	display: inline;
}

select {
	padding-right: 3rem;
}

label,
legend {
	display: block;
	margin-bottom: 0.5rem;
}

label.inline,
legend.inline {
	display: inline-block;
	margin-left: 0.5rem;
}
fieldset {
	border-width: 0;
	padding: 0;
}

/**
 * Colors, borders, outline, box-shadow, appearance, and opacity.
 */

body {
	color: var(--text);
}

a {
	color: var(--blue);
	text-decoration: none;
	border: 1px dashed transparent;
}

a:focus,
a:hover {
	color: var(--text-dark);
	text-decoration: underline;
}
a:focus {
	border-color: var(--primary);
}
a[target='_blank'] > span,
.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap; /* added line */
}

blockquote {
	border-left: 0.3rem solid var(--primary-opaque);
}

pre,
code {
	background: var(--gray-light);
}

pre {
	border-left: 0.3rem solid var(--primary-opaque);
}

code {
	border-radius: 0.4rem;
}

pre > code {
	border-radius: 0;
}

hr {
	margin-right: auto;
	margin-left: auto;
	border: 0;
	--border-width: 2px;
	border-top: var(--border);
}

td,
th {
	border-bottom: var(--border);
}

/**
 * Other form elements.
 */

[type='email'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='url'],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: none;
}

[type='email']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='url']:focus,
textarea:focus,
select:focus {
	border-color: var(--primary);
	box-shadow: var(--focus);
	outline: 0;
}

@media (min-width: 40rem) {
}
