/** LAYOUT **/
body {
	/* Ensure that the page body fills the display even if the content does not. [4] */
	min-height: 100vh;
	/* The following two rules allow the header and footer elements to be positioned
	   correctly assuming they're all direct descendants of the <body> element. */
	/*
	display: flex;
	flex-direction: column;
	*/
}
/* something new */
header,
footer {
	/* Prevent these two eleemnts from shrinking when content is added to the <body>
	   element. */
	flex-shrink: 0;
}

nav {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

nav > ul {
	margin-bottom: 0;
}

main {
	/* Allow the <main> element to grow as necessary. */
	flex-grow: 1;
}
/*
	Expected Structure:
	.hgroup
		h*
		h*
		h*
	/.hgroup
*/
.hgroup {
	/* Used primarily in section headers (reminiscent of the yet to be implemented hgroup) */
	margin-bottom: 0.5rem;
}
.hgroup > :last-child {
	margin-bottom: 0;
}
hgroup,
.hgroup {
	padding-top: 3rem;
	margin-bottom: 1rem;
}

section > *:first-child,
section > *:first-child {
	padding-top: unset;
}
thead,
tbody > tr:nth-child(even) {
	background-color: var(--gray-light);
}
main.grid-breakout {
	display: grid;
	grid-template-columns: [gutter-start] minmax(2rem, 1fr) [main-start] minmax(0, 40em) [main-end] minmax(2rem, 1fr) [gutter-end];
}
main.grid-breakout > nav.nav-column {
	grid-area: 1 / 1 / 2 / 2;
}
main.grid-breakout > article,
main.grid-breakout > section {
	grid-area: auto / 2 / auto / 3;
}
